<div class="container">

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="About Vent2U" class="about">
            <h2>About Vent2U</h2>
            <p class="paragraph">
                Vent2U is an all in one, indoor climate system that is focused on each individual persons ideal climate.
            </p>
            <p class="paragraph">
                Each person is different and thrive under different conditions. Those conditions can change and because of that it is important, that each person can adjust their private climate. That can ensure higher productivity and more efficient learning.
            </p>
            <p class="paragraph">
                With the system you can control the temperature, humidity and light levels.
            </p>

            <p class="paragraph">
                By adjusting your personal climate you can maximize your proficiency.
            </p>
        </mat-tab>
        <mat-tab label="FAQ">

            <h2>Frequently Asked Questions</h2>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What can I change?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>You can change the temperature, humidity and light levels</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Is it possible to save my preferred settings?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>You can save your preferred settings by clicking the save icon on the top bar.</p>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            This is the expansion title
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>



</div>