.config-card {
    max-width: 300px;
    max-height: 400px;
    background-color: rgb(240, 245, 245);
    margin-top: 50px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    vertical-align: bottom;
    text-align: center;
}

.align-left {
    float: left;
    text-align: left;
    width: 20px;
}

.align-right {
    float: right;
    text-align: right;
    width: 20px;
}

.rounded {
    border-radius: 50%;
}

.rounded-centered {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

.saveButton {
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
    background-color: #3f51b5;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

.listSettings {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(240, 245, 245);
    height: 50px;
    max-width: 50%;
    margin: auto;
    margin-bottom: 5px;
}

.listSettings h3 {
    margin: 0;
}