.example-spacer {
    flex: 1 1 auto;
}

.config-card {
    max-width: 300px;
    max-height: 400px;
}

.humidity-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}