<div [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
    <mat-toolbar color="primary">
        <span>Vent2U</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="15px" fxLayoutGap.xs="2px">
    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <mat-card-header>
            <div mat-card-avatar class="humidity-image"></div>
            <mat-card-title>Humidity</mat-card-title>
            <mat-card-subtitle>Similar to: Test</mat-card-subtitle>
            <span class="example-spacer"></span>
            <mat-slide-toggle></mat-slide-toggle>
        </mat-card-header>
        <div>
            Control the humidity
        </div>
        <mat-divider></mat-divider>
        <div>
            <label>Adjust: </label>
            <mat-slider thumbLabel [displayWith]="formatHumidityLabel" tickInterval="1" min="0" max="50">
            </mat-slider>
            <label> x%</label>
        </div>
    </mat-card>
    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <mat-card-header>
            <div mat-card-avatar class="humidity-image"></div>
            <mat-card-title>Temperature</mat-card-title>
            <mat-card-subtitle>Similar to: Test</mat-card-subtitle>
            <span class="example-spacer"></span>
            <mat-slide-toggle></mat-slide-toggle>
        </mat-card-header>
        <div>
            Control the temperature
        </div>
        <mat-divider></mat-divider>
        <div>
            <label>Adjust: </label>
            <mat-slider thumbLabel [displayWith]="formatTemperatureLabel" step="0.1" tickInterval="0.5" min="18.0" max="28.0">
            </mat-slider>
            <label> x &#x2103;</label>
        </div>
    </mat-card>
</div>