<div [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
    <mat-toolbar color="primary">
        <span>Vent2U</span>
        <span class="example-spacer"></span>
        <button mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-divider></mat-divider>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutGap.xs="2px">
    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <div>
            <h2 class="centered-text">Humidity</h2>
        </div>
        <div>
            <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/694/694056.svg" height="100px" width="100px">
        </div>
        <mat-divider></mat-divider>
        <div>
            <div>
                <mat-slider class="centered" thumbLabel [displayWith]="formatHumidityLabel" tickInterval="1" min="0" max="50"></mat-slider>
            </div>
            <div>
                <label class="align-left">min</label>
                <span class="example-spacer"></span>
                <label class="align-right">max</label>
            </div>
        </div>
        <h1 class="centered-text">x%</h1>
    </mat-card>

    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <div>
            <h2 class="centered-text">Temperature</h2>
        </div>
        <div>
            <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/803/803469.svg" height="100px" width="100px">
        </div>
        <mat-divider></mat-divider>
        <div>
            <div>
                <mat-slider class="centered" thumbLabel [displayWith]="formatTemperatureLabel" step="0.5" tickInterval="0.1" min="18" max="26"></mat-slider>
            </div>
            <div>
                <label class="align-left">min</label>
                <span class="example-spacer"></span>
                <label class="align-right">max</label>
            </div>
        </div>
        <h1 class="centered-text">x%</h1>
    </mat-card>

    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <div>
            <h2 class="centered-text">Lights</h2>
        </div>
        <div>
            <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/117/117944.svg" height="100px" width="100px">
        </div>
        <mat-divider></mat-divider>
        <div>
            <div>
                <mat-slider class="centered" thumbLabel [displayWith]="formatLightsLabel" tickInterval="1" min="0" max="3"></mat-slider>
            </div>
            <div>
                <label class="align-left">min</label>
                <span class="example-spacer"></span>
                <label class="align-right">max</label>
            </div>
        </div>
        <h1 class="centered-text">x%</h1>
    </mat-card>

    <mat-card class="config-card" [class.mat-elevation-z2]="!shadowToggle" [class.mat-elevation-z2]="shadowToggle">
        <div>
            <h2 class="centered-text">Oxygen</h2>
        </div>
        <div>
            <img class="rounded-centered" src="https://www.flaticon.com/svg/static/icons/svg/46/46372.svg" height="100px" width="100px">
        </div>
        <mat-divider></mat-divider>
        <div>
            <div>
                <mat-slider class="centered" thumbLabel [displayWith]="formatHumidityLabel" tickInterval="1" min="0" max="50"></mat-slider>
            </div>
            <div>
                <label class="align-left">min</label>
                <span class="example-spacer"></span>
                <label class="align-right">max</label>
            </div>
        </div>
        <h1 class="centered-text">x%</h1>
    </mat-card>
</div>